.wp-block-prc-block-data-table-filter-select {
	.prc-data-table-filter-select__editor-note {
		margin: 0 0 0.75em;
		font-size: 12px;
		color: var(--wp--preset--color--ui-gray-dark);
	}

	.prc-data-table-filter-select__placeholder-preview {
		display: inline-block;
		margin-right: 0.5em;
		font-weight: 400;
		color: var(--wp--preset--color--ui-gray-dark);
		font-style: italic;
	}

	.prc-data-table-filter-select__options {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25em;
		padding: 0.75em;
		border: 1px dashed var(--wp--preset--color--ui-gray-light);
		border-radius: 4px;
		background: var(--wp--preset--color--ui-gray-very-light);
	}
}
