.wp-block-prc-block-data-table-render {
	box-sizing: border-box;
}

.prc-data-table-render-editor-note {
	margin: 0 0 8px;
	font-size: 13px;
	color: #757575;
}

.prc-data-table-render-editor-id {
	margin: 0 0 12px;
	font-size: 12px;
}

.prc-data-table-render-placeholder {
	padding: 8px 0;
}

th.prc-data-table__header-special-border {
	position: relative;
	color: var(
		--prc-data-table-header-border-color,
		var(--wp--preset--color--ui-black)
	);

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 25%;
		width: 50%;
		height: 3px;
		background: var(
			--prc-data-table-header-border-color,
			var(--wp--preset--color--ui-black)
		);
		border-radius: 15%;
	}
}

.prc-data-table--editor-preview {
	width: 100%;
	font-family: franklin-gothic-urw, sans-serif;
	font-size: 0.8em;
	border-collapse: collapse;

	th,
	td {
		border: 1px dashed var(--wp--preset--color--ui-gray-light);
		padding: 8px;
	}

	th:not(.prc-data-table__first-col) {
		text-align: var(--prc-data-table-header-text-align, center);
	}

	td:not(.prc-data-table__first-col) {
		text-align: var(--prc-data-table-cell-text-align, center);
	}

	th.prc-data-table__first-col,
	td.prc-data-table__first-col {
		text-align: left;
	}
}

@media (max-width: 781.98px) {
	.prc-data-table--editor-preview {
		th:not(.prc-data-table__first-col),
		td:not(.prc-data-table__first-col),
		th.prc-data-table__first-col,
		td.prc-data-table__first-col {
			text-align: center;
		}
	}
}
